{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1><p>Register your account</p></h1>
    <form action="/register" method="post" name="frm">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit" name="submit">Register</button>
    </form>

    <script>
        // Perform submission validations
        document.frm.submit.onclick = function(){
            // Validate username is not empty
            if(document.frm.username.value === "")
            {
                alert("Please enter a value for username");
                return false;
            }
            // Validate password is not empty
            if(document.frm.password.value === "")
            {
                alert("Please make a password");
                return false;
            }
            // Validate confirmation is not empty
            if(document.frm.confirmation.value === "")
            {
                alert("Please confirm your password");
                return false;
            }
            // Validate username is available
            $.getJSON("/check", {
                username: $('input[name="username"]').val()
            }, function(data){
                if(data.availability==="false")
                {
                    alert("Username is already taken");
                    return false;
                };
            });

            // Check if passwords match
            if(document.frm.password.value != document.frm.confirmation.value)
            {
                alert("Passwords do not match");
                return false;
            }
            return true;
        };
    </script>
{% endblock %}
